@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.wide-page {
		@apply mx-auto max-w-5xl px-4 py-8;
	}

	.narrow-page {
		@apply mx-auto max-w-xl px-4 py-8;
	}

	.page-title {
		@apply text-2xl font-bold text-gray-700;
	}

	.wide-component {
		@apply mx-auto mt-2 max-w-5xl space-y-4 px-2 lg:px-8;
	}

	.wide-row {
		@apply flex items-center justify-center space-x-2;
	}

	.wide-component-title {
		@apply pt-4 text-center font-bold text-gray-700;
	}
	.wide-component-text {
		@apply text-center text-gray-500;
	}

	.input-text {
		@apply w-2 flex-grow rounded-md border border-gray-300 px-4 py-2 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400;
	}

	.border-focus {
		@apply rounded-md border border-gray-300 hover:border-transparent hover:outline-none hover:ring-2 hover:ring-blue-400;
	}

	.round-button {
		@apply rounded-md px-4 py-2 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-opacity-50;
	}
	.blue-button {
		@apply bg-blue-500 text-white hover:bg-blue-600 focus:ring-blue-400;
	}
	.red-button {
		@apply bg-red-500 text-white hover:bg-red-600 focus:ring-red-400;
	}
	.green-button {
		@apply bg-green-500 text-white hover:bg-green-600 focus:ring-green-400;
	}
	.gray-button {
		@apply bg-gray-500 text-white hover:bg-gray-600 focus:ring-gray-400;
	}

	.text-link {
		@apply text-gray-600 hover:text-gray-900;
	}

	.main-color {
		color: #bb2649;
	}

	.mix-color {
		color: #ce3f44;
	}

	.second-color {
		color: #e2583e;
	}
}
